img{
    border-radius: 50%;
    margin-bottom: 8%;
}

body{
    display: flex;
}

.sidebar{
    flex-direction: column;
    text-align: center;
}

.contact-container{
    color: white;
}

.contact-container .container-block a{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a :hover{
    text-decoration: underline;
}